{% extends "jobs/templates/index.html" %}
{% block content %}
{#<div class="container">#}
{#<div class="row">#}
{#<div class="col-md-8">#}
{#	<div class="thumbnail">первая "широкая"колонка для контента</div>#}
{#</div>#}
{#<div class="col-md-4">#}
{#	<div class="thumbnail">вторая боковая колонка</div>#}
{#	<div class="thumbnail">третья боковая колонка - под второй</div>#}
{#</div>#}
{#</div>#}
{#</div>#}
{#<h1 class="text-center">APC experts</h1>#}
{#<div>#}
{#    <div class="col"> <img src="../../../static/img/GGuk.jpg" width="150" height="200"></div>#}
{#    <p>#}
{#        cell: 612-499-5251#}
{#    </p>#}
{#    <p>#}
{#        email: grigory.guk@dc-group.com#}
{#    </p>#}
{#    <ul>#}
{#        <li><a href="#">Ask experts</a></li>#}
{#    </ul>#}
{#</div>#}
<div class="container" >
<div class="row">
<div class="col-md-2">
<h3 class="text-left">APC experts</h3>
<figure>

    <img src="../../../static/img/GGuk.jpg" width="150" height="200">
    <figcaption> <a href="mailto:grigory.guk@dc-group.com"> Grigory Guk </a></figcaption>
    <figcaption> cell: 612-499-52-51</figcaption>
</figure>
</div>
    <div class="col-md-6">
        <h3 class="text-center">UPS models</h3>
        <ul>
            <li><a href="#" font-size: 14px>Silcon</a> </li>
            <li><a href="#">Symmetra PX</a> </li>
            <li><a href="#">Symmetra PX2</a> </li>
            <li><a href="#">Symmetra MV</a> </li>
        </ul>
    </div>
</div>
</div>
{#<h1 class="text-center">UPS models</h1>#}
{#<div class="container-fluid">#}
{#    <div class="container">#}
{#        <div class="row text-center">#}
{#            <div class="col"> <img src="../../../static/img/APC_Symmetra_500.jpeg" class="w-100"></div>#}
{#            <div class="col"> <img src="../../../static/img/APC_Symmetra_MW.jpeg" class="w-100"></div>#}
{#            <div class="col"> <img src="../../../static/img/APC_Silcon.jpeg" class="w-100"></div>#}
{#            <div class="col"> <img src="../../../static/img/APC_Symmetra_PX.jpeg" class="w-100"></div>#}
{#        </div>#}
{#    </div>#}
{#</div>#}
{% endblock %}

<script src="../../../static/js/bootstrap.min.js"></script>
</body>
</html>